[submodule "provectus-finance-ui/tax-management-ui/provectus-finance-ui"]
	path = provectus-finance-ui/tax-management-ui/provectus-finance-ui
	url = git@github.com:zakharovmikhail/provectus-finance.git
