[submodule "provectus-finance-ui/tax-management-ui/provectus-finance-ui"]
	path = provectus-finance-ui/tax-management-ui/provectus-finance-ui
	url = https://github.com/zakharovmikhail/provectus-finance
